<h1>New Gif</h1>

<%= form_for @gif do |f| %>

<%= f.label :url, "URL" %>
<%= f.text_field :url %>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.submit "Create gif" %>

<% end %>